.form-group,
.card {
    text-align: right !important;
}

.float-right {
    float: left !important;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^=col-]:first-child {
    text-align: right !important;
}

.input-group-text,
select.form-control:not([size]):not([multiple]),
.form-control:not(.form-control-sm):not(.form-control-lg) {
    padding: 10px 30px 5px 0px !important;
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: -0.5em !important;
}

.seller_chat_list .media span {
    left: auto !important;
    right: -30px !important;
}

.modal-header .close {
    left: 0;
    position: absolute;
    outline: none;
}

address {
    text-align: right !important;
}

.invoice .invoice-detail-item {
    text-align: left !important;
}

.text-md-right {
    text-align: left !important;
}

.order-status {
    text-align: right !important;
}

.container-fluid,
.select2-container,
.datepicker {
    text-align: right !important;
}

.profile-widget .profile-widget-picture {
    float: right !important;
    margin-right: 30px !important;
    margin-left: 0 !important;
}

.mr-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.chat-box .chat-form .btn {
    right: auto !important;
    left: 28px !important;
}

.chat-box .chat-content .chat-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}

.chat-box .chat-content .chat-item.chat-right img {
    float: left !important;
}

.chat-box .chat-content .chat-item.chat-right .chat-details {
    margin-left: 70px !important;
    margin-right: 0px !important;
    text-align: left;
}

.chat-box .chat-content .chat-item.chat-right .chat-details .chat-text {
    text-align: right !important;
}

.chat-box .chat-content .chat-item>img {
    float: right !important;
}

.chat-box .chat-content .chat-item .chat-details {
    margin-right: 70px !important;
    margin-left: auto !important;
}

.chat-box .chat-content .chat-item.chat-right img,
.chat-box .chat-content .chat-item>img {
    width: 60px !important;
    height: 60px !important;
    object-fit: cover !important;
}

.modal-header .btn-close {
    position: absolute;
    left: 20px;
}

/* ============================================
   Admin Navbar Header RTL Improvements
   ============================================ */

/* RTL adjustments for navbar */
.main-navbar {
    direction: rtl !important;
}

.navbar-left {
    margin-left: 0 !important;
    margin-right: auto !important;
}

.navbar-right {
    margin-right: 0 !important;
    margin-left: auto !important;
}

.navbar-center {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

/* RTL for language and currency dropdowns */
.navbar-left .setLanguageHeader,
.navbar-left .set-currency-header {
    margin-left: 0 !important;
    margin-right: 8px !important;
}

.navbar-left .setLanguageHeader .dropdown-menu,
.navbar-left .set-currency-header .dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

/* RTL for user dropdown */
.navbar-right .dropdown-menu-right {
    right: auto !important;
    left: 0 !important;
}

/* RTL for search box */
.search-box #admin_menu_list {
    right: 0 !important;
    left: auto !important;
}

/* RTL for nav links */
.navbar .nav-link-user {
    flex-direction: row-reverse !important;
}

.navbar .nav-link-user img {
    margin-left: 8px !important;
    margin-right: 0 !important;
}

/* RTL for dropdown items */
.navbar .dropdown-menu .dropdown-item i {
    margin-right: 0 !important;
    margin-left: 10px !important;
}