.prescription .top .prescription-logo img {
	height: 50px;
	margin-bottom: 1rem;
}

.prescription .top .right {
	float: right;
	text-align: end;
}

.prescription .top .right h2 {
	font-size: 24px;
	font-weight: 700;
}

.prescription .client-info {
	border-top: 2px solid #afafaf;
	border-bottom: 2px solid #afafaf;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.prescription .main-section {
	padding-top: 30px;
	border-bottom: 2px solid #afafaf;
}
.prescription .main-section .problem {
	margin-bottom: 40px;
}
.prescription .main-section .problem h2 {
	font-size: 22px;
	font-weight: 700;
}
.prescription .main-section .test h2 {
	font-size: 22px;
	font-weight: 700;
}
.prescription .footer {
	margin-top: 80px;
}
.prescription .footer h2 {
	font-size: 18px;
	font-weight: 700;
}